**/node_modules

**/__pycache__
**/.vscode
# Compiled Object files
*.slo
*.lo
*.o
*.obj
**/*.pyc
**/*.pyd

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables

*.exe
*.app
*.db

*.pcapng
*.pcap

*.i64
*.idb
*.bak
.DS_Store
._*
*.dmp
*.raw

*.mf
*.ovf
*.vmdk

*.til
*.id0
*.id1
*.id2
*.nam
*.bin
7777.data
7777.ex


.nvimlog
