.vscode
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables

*.app
*.db

*.i64
*.idb
.DS_Store
._*
*.dmp
*.raw

*.til
*.id0
*.id1
*.id2
*.nam
*.bin
7777.data
7777.ex
